tqdm==4.66.5
onnx==1.17.0
onnx2torch==1.5.15
numpy==1.24.0
matplotlib==3.7.5
matplotlib-inline==0.1.7
mediapipe==0.10.7
scikit-image==0.25.2
scikit-learn==1.3.0
scipy==1.12.0
#chumpy==0.70
pillow==10.1
#open3d==0.17.0
open3d
opencv-contrib-python==4.10.0.84
#opencv-contrib-python
opencv-python==4.10.0.84
#opencv-python
imageio==2.35.1
kornia==0.7.3
yacs==0.1.8
plyfile==1.0.3
roma==1.5.0
face-alignment==1.4.1
filterpy==1.4.5
ipython==8.13.0
jupyterlab
bpy==4.2.0
gdown
ninja
## For unstalling pythorch3d
#
#   Bibliografy:
#       https://github.com/facebookresearch/pytorch3d/issues/1518
#
# git clone https://github.com/facebookresearch/pytorch3d.git
# cd pytorch3d && pip install -e .
